name: Build & Push Multi-Arch Laravel Image

on:
  push:
    branches:
      - main
    tags:
      - "v*"

env:
  IMAGE_NAME: elrincondeisma/laravel-docker-images

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # ==============================
      # Checkout
      # ==============================
      - name: Checkout code
        uses: actions/checkout@v4

      # ==============================
      # QEMU (multi-arch emulation)
      # ==============================
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: amd64,arm64

      # ==============================
      # Docker Buildx
      # ==============================
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # ==============================
      # Login Docker Hub
      # ==============================
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ==============================
      # Docker metadata (tags)
      # ==============================
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha
            type=ref,event=tag

      # ==============================
      # Build & Push (Multi-Arch)
      # ==============================
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
